*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#side-menu{
    width: 100%;
    height: 100vh;
    margin-top: -15%;
    position: absolute;
    left:0%;
    display: none;
    text-align: right;
    padding-bottom: 20%;
    background-color: rgba(24, 74, 69, 0.849);
}
.side-nav .close{
    text-decoration: none;
    color: #fc766aff;
    margin-right: 5%;
    font-size: 4rem;
}
.side-nav ul li{
    list-style: none;
    padding-bottom: 15%;

}
.side-nav ul li a{
    text-decoration: none;
    color: #fcf6f5;
    margin: 0 50%;
    border-bottom: 2px solid #fc766aff;
    font-size: 1.5rem;
    margin-left: 3%;
    

}
.side-nav .active{
    color: #fc766aff;
    border-bottom: 2px solid #fcf6f5;
}

body{
    background-color: #fcf6f5;
    text-transform: capitalize;
    font-size: 1rem;
    
}
.top{
   margin-left: 10%;
   margin-top: 5%; 
   margin-bottom: 5%;
}
.top h1{
    display: inline;
}
.top h1 b{
    color: #fc766aff;
}
.right{
    background-color: #184a45ff;
    margin: 0;
    border: 10px solid #184a45ff;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 5%;
}

.square{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: inline-block;
    background-color: #184a45ff;
}
main{
    max-width: 100%;
    display: grid;
    max-height: 100vh;
    grid-template-columns: 1.5fr 1.5fr;
}
.links{
    margin: 15% 6%;
    width: 80px;
    padding: 16px 0px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #184a45ff;
}
 img{
    width: 100%;
    padding: 15px;
    display: block;
}

.container{
    display: flex;
}
.about{
    width: 60%;
    margin-top:20%;
    font-size: 1.6rem;
}
.about h2{
    margin-bottom: 2%;
    color: #184a45ff;
}

.about h1{
    margin-bottom: 2%;
    color: #fc766aff;
}
.about h4{
    margin-bottom: 2%;
    color: #b0b8b4ff;
}

.about p{
    margin-bottom: 2%;
    font-size: 1rem;
}
.about .text{
    margin-bottom: 15%;
}

.hireMe{
    margin-left: 30%;
    text-decoration: none;
    background-color: #184a45ff;
    color: #fcf6f5;
    padding: 10px 40px;
    border: 1px solid transparent;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.hireMe:hover{
    background-color: #fc766aff;
    color: white;
}
header{
    
    margin: 5% 20%;
    
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav ul li{
    list-style: none;
}
 nav ul li a{
    
    text-decoration: none;
    color: white;
    
}
.active{
    color: #fc766aff;
}
li a:hover{
    color: #b0b8b4ff;
    font-weight: 700px;
}

 
.img .me{
    position: absolute;
    left: 42%;
    margin-top: 1.2%;
    width: 22.5%;
   
   
}
#aboutMe{
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #fcf6f5;
    background-color: #184a45ff;
}
#aboutMe img{
    margin-top: 5%;
    margin-left: 4%;
    width: 60%;
    height: 40vh;
    border-radius: 50%;
}
#aboutMe .text{
    width: 70%;
    word-spacing: 10px;
    line-height: 1.5rem;
}
#aboutMe h1 {
    margin-top: 9%;
    margin-bottom: 5%;
    margin-left: -15%;
    color: #fc766aff;
}
#aboutMe b{
    color: #fc766aff;
}
#aboutMe p {
    margin-top: 2%;
    margin-left: -15%;
}

button{
    border: none;
    background-color: transparent;
}

.hamburger{
    margin-left: 90%;
    display: none;
    margin-top: 0;
    cursor: pointer;

}
.bar{
    width: 60px;
    padding: 2px;
    height: 3px;
    display: block;
    margin: 3px 5px;
    background-color: #fc766aff;
}
.bar1{
    width: 40px;
    padding: 2px;
    height: 3px;
    display: block;
    margin: 3px 5px;
    background-color: #fc766aff;
}
.bar2{
    width: 20px;
    padding: 2px;
    height: 3px;
    display: block;
    margin: 3px 5px;
    background-color: #fc766aff;
}
@media screen and (max-width: 900px) {
    .hamburger{
        display: block;
        margin-left: 100%;
    }
    main{
        display: block;
    }
    .right{
        display: none;
    }
    .top {
        margin-top: 15%;
    }
    .top .txt{
        margin-top: -5%;
        margin-left: -10%;
    }
    
    #aboutMe img{
        margin-top: 30%;
        margin-left: 4%;
        width: 100%;
        height: 40vh;
        border-radius: 50%;
    }
    #aboutMe .text{
        width: 70%;
        margin-left: 20%;
        word-spacing: 10px;
        line-height: 1.5rem;
    }
}
@media screen and (max-width: 550px){
    
    .top .txt{
        margin-top: -5%;
        margin-left: -10%;
    }
}

@media screen and (max-width: 400px){
    .about .text{
        display: none;
    }
    .links{
        margin: 15% 6%;
        width: 100px;
        padding: 10px 0px;
        display: inline-block;
        border-radius: 50px;
        border: 1px solid #184a45ff;
    }
     img{
        width: 100%;
        padding: 10px;
        display: block;
    }
    
    main{
        display: block;
        height: 100vh;
        width: 100%;
    }
    .hamburger{
        display: block;
        margin-left: 95%;
    
    }
    .about p{
        margin-bottom: 30%;
        font-size: 1rem;
    }
    .about{
        width: 100%;
        margin-top:20%;
        font-size: 1.6rem;
    }
    
    
    .hireMe{
        margin-left: 8%;
        text-decoration: none;
        background-color: #184a45ff;
        color: #fcf6f5;
        padding: 5px 30px;
        border: 1px solid transparent;
        border-radius: 15px;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
    #aboutMe{
        margin-top: -40%;
        display:block;
        color: #fcf6f5;
        background-color: #184a45ff;
    }
    .container{
        margin-top: 30%;
    }
    
    #aboutMe img{
        margin-top: 45%;
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
        height: 40vh;
        border-radius: 90px;
    }
    .hamburger{
        display: block;
        margin-left: 95%;
    
    }
    .top .txt{
        margin-top: -10%;
    }
    .top {
        margin-top: 30%;
    }
    #aboutMe .text{
        width: 80%;
        height: 100vh;
        margin-top: 10%;
        margin-left: 15%;
        word-spacing: 10px;
        line-height: 1.5rem;
    }
    #side-menu{
        
        margin-top: -30%;
        
    }
    
    
    
}

